## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % ('application_train.csv'))
app_train = pd.read_csv('application_train.csv')

Path of read in data: application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [6]:
l=app_train.shape
l

(307511, 122)

#### 列出所有欄位

In [8]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [11]:
app_train[['SK_ID_CURR','TARGET','FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19']].head

<bound method NDFrame.head of         SK_ID_CURR  TARGET  FLAG_DOCUMENT_18  FLAG_DOCUMENT_19
0           100002       1                 0                 0
1           100003       0                 0                 0
2           100004       0                 0                 0
3           100006       0                 0                 0
4           100007       0                 0                 0
5           100008       0                 0                 0
6           100009       0                 0                 0
7           100010       0                 0                 0
8           100011       0                 0                 0
9           100012       0                 0                 0
10          100014       0                 0                 0
11          100015       0                 0                 0
12          100016       0                 0                 0
13          100017       0                 0                 0
14          100018       0                 0                 0
15          100019       0                 0                 0
16          100020       0                 0                 0
17          100021       0                 0                 0
18          100022       0                 0                 0
19          100023       0                 0                 0
20          100024       0                 0                 0
21          100025       0                 0                 0
22          100026       0                 0                 0
23          100027       0                 0                 0
24          100029       0                 0                 0
25          100030       0                 0                 0
26          100031       1                 0                 0
27          100032       0                 0                 0
28          100033       0                 0                 0
29          100034       0                 0                 0
...            ...     ...               ...               ...
307481      456225       1                 0                 0
307482      456226       0                 0                 0
307483      456227       0                 0                 0
307484      456228       0                 0                 0
307485      456229       0                 0                 0
307486      456230       0                 0                 0
307487      456231       0                 0                 0
307488      456232       0                 0                 0
307489      456233       1                 0                 0
307490      456234       0                 0                 0
307491      456235       0                 0                 0
307492      456236       0                 0                 0
307493      456237       0                 0                 0
307494      456238       0                 0                 0
307495      456239       0                 0                 0
307496      456240       0                 0                 0
307497      456241       0                 0                 0
307498      456242       0                 0                 0
307499      456243       0                 0                 0
307500      456244       0                 0                 0
307501      456245       0                 0                 0
307502      456246       0                 0                 0
307503      456247       0                 0                 0
307504      456248       0                 0                 0
307505      456249       0                 0                 0
307506      456251       0                 0                 0
307507      456252       0                 0                 0
307508      456253       0                 0                 0
307509      456254       1                 0                 0
307510      456255       0                 0                 0

[307511 rows x 4 columns]>

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子